%section#top-navbar.navbar.navbar-fixed-top.custom-navbar.top-nav-collapse
  .container
    .navbar-header
      %button.navbar-toggle{data:{toggle:"collapse", target: ".navbar-collapse"}}
        %span.icon.icon-bar
        %span.icon.icon-bar
        %span.icon.icon-bar
      %a.navbar-brand{ onClick:"window.location.href=window.location.origin" } SMU Activities Registry
    .collapse.navbar-collapse.navbar-menu

%main
  %section.clearfix
    %section#view-container
  %seciton.clearfix
    .container
      .row.clearfix
